.navbar_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1866e1;
  box-shadow: 5px 5px 5px gray;
}

.navbar_main h1 {
  margin: 0.5rem;
  padding: 0.5rem;
  color: white;
  font-size: 2.5rem;
  text-shadow: 5px 5px 5px black;
}

.navbar_links_container {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.navbar_links_container a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #e7991e;
  border: solid 2px #ea21ce;
}

.navbar_links_container a:hover {
  background-color: #1866e1;
  color: #e7991e;
}
