@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  font-family: "Playfair Display";
}

.routines_main {
  display: flex;
  flex-direction: column;
}

.routines_main h1 {
  text-align: center;
  margin: 2rem;
  color: #1866e1;
}
.routines_container {
  border: #1866e1 solid 2px;
  margin: 1rem;
  padding: 0.5rem;
  box-shadow: 5px 5px 5px gray;
}

.routines_creator-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.routines_creator-title h2 {
  color: #e7991e;
  margin: 0.5rem;
}

.routines_creator-title span {
  color: #1866e1;
  margin: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.routines_activities_container {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
  align-items: center;
  margin: 1.5rem;
  border-bottom: #e7991e solid 2px;
}

.routines_activities_name {
  font-weight: bold;
  font-size: 1.5rem;
  color: #1866e1;
}

.routines_activities_container span {
  font-weight: bold;
}

.routines_goal {
  text-align: center;
  padding: 1.5rem;
  font-size: 1rem;
}

.routines_goal span {
  font-weight: bold;
  margin: 0.5rem;
}
